.card {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  background: rgba(255, 255, 255, 0.4);
  bottom: auto;
  z-index: 100;
  width: 360px;
  padding: 0.9em;
  border-radius: 15px;
  color: #1f1d1d;
}

.font-size{
  font-size: xx-small;
}